:host {
  height: 500px;
  min-height: 500px;
  min-width: 500px;
  position: relative;
  width: 500px;

  --dial-background-colour: #2C3333;
  --dial-text-colour: #F5F2E7;
}

:host > .current-dial-value-indicator {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid var(--dial-text-colour);
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  z-index: 1;
}

:host > .dial-container {
  background: var(--dial-background-colour);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

:host > .dial-container.has-loaded {
  transition: transform 150ms ease-in-out;
}

:host > .dial-container > .dial-value {
  box-sizing: border-box;
  color: var(--dial-text-colour);
  height: 100%;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}

:host > .current-dial-value {
  color: var(--dial-text-colour);
  font-size: 200px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
