:host {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

:host > app-dial:not(:last-child) {
  margin: 0 50px 0 0;
}

@media only screen and (max-width: 1640px) {
  :host {
    transform: scale(0.75);
  }
}

@media only screen and (max-width: 1230px) {
  :host {
    transform: scale(0.5);
  }
}

@media only screen and (max-width: 820px) {
  :host {
    flex-direction: column;
    transform: scale(0.35);
  }

  :host > app-dial:not(:last-child) {
    margin: 0 0 50px 0;
  }
}
